.footer{
  background:#000;
  text-align:center;
}

.footer .row{
  width:100%;
  margin:20px 10px;
  padding:20px 10px;
  color:#fff;
}

.footer .row a{
  text-decoration:none;
  color: #fff;
}

.footer .row a:hover{
  color:#fff;
}

.footer .row ul{
  width:100%;
}

.footer .row ul li{
  display:inline-block;
  margin:10px 30px;
}

@media (max-width:720px){
  .footer{
    text-align:left;
    padding:5%;
  }
  .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
  }
}
